.divPopupHolder
{
    width: 775px; 
    height: 412px; 
    border: 1px solid orange;
    margin-left: auto; 
    margin-right:auto
}

.divFullImage
{
    width: 600px; 
    border: 1px solid orange; 
    margin: 5px 5px 5px 5px; 
    float: left;
}

.divFullImage img
{
    width: 600px; 
    height: 400px;
}

.divThumbnailHolder
{
   width: 150px; 
   height: 400px; 
   border: 1px solid transparent; 
   margin: 5px 5px 5px 5px; 
   float: left; 
   overflow:auto;
}

div.divThumbnailHolder div
{
    width: 130px; 
    height: 100px; 
    border: 1px solid orange; 
    margin-bottom: 5px; 
    cursor: pointer;
}

.divThumbnailHolder img
{
    width: 130px; 
    height: 100px;
}