<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DMHAutomotiveUpdater.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DMHAutomotiveUpdater.Properties.Settings>
            <setting name="FTPServerPassword" serializeAs="String">
                <value>cHwRenD4a4FRdS</value>
            </setting>
            <setting name="FTPServerUsername" serializeAs="String">
                <value>user33169</value>
            </setting>
            <setting name="FTPHost" serializeAs="String">
                <value>user33169.vs.easily.co.uk</value>
            </setting>
            <setting name="FTPFullImageBase" serializeAs="String">
                <value>/website/Development/BetaV2.0/images/full</value>
            </setting>
            <setting name="FTPThumbImageBase" serializeAs="String">
                <value>/website/Development/BetaV2.0/images/thumb</value>
            </setting>
            <setting name="FTPXMLBase" serializeAs="String">
                <value>/website/Development/BetaV2.0/xml</value>
            </setting>
            <setting name="FTPBase" serializeAs="String">
                <value>/website/Development/BetaV2.0</value>
            </setting>
        </DMHAutomotiveUpdater.Properties.Settings>
    </userSettings>
</configuration>